* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {

    margin: 0;

    background-color: #efdcae;

    color: #2d1b14;

    font-family:
        Arial,
        Helvetica,
        sans-serif;

    line-height: 1.6;
}
